<a href="https://colab.research.google.com/github/victordomke/projetos-estudos-data-science/blob/main/Data_Science_alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso - Data Science:analise e visualização de dados

## Conhecendo nossos dados e o Pandas

In [ ]:
import pandas as pd

notas = pd.read_csv('ratings.csv')

notas.head()

FileNotFoundError: ignored

In [ ]:
notas.shape

NameError: ignored

In [ ]:
notas.columns = ['usuarioID', 'filmeID', 'nota', 'momento']
notas.head()

In [ ]:
notas['nota'].unique()

In [ ]:
notas['nota'].value_counts()

In [ ]:
print(notas['nota'].mean())
print(notas['nota'].median())

## Visualizando dados com histograma e boxplot

In [ ]:
notas.nota.head()

In [ ]:
notas.nota.plot(kind='hist')

In [ ]:
notas.nota.describe()

In [ ]:
import seaborn as sns

sns.boxplot(notas.nota)

## Análise exploratória de dados e mais gráficos

In [ ]:
filmes = pd.read_csv('movies.csv')
filmes.columns = ['filmeID', 'titulo', 'generos']
filmes.head()

In [ ]:
notas.query('filmeID==1').nota.mean()

In [ ]:
notas.query('filmeID==2').nota.mean()

NameError: ignored

In [ ]:
medias_por_filmes = notas.groupby('filmeID').mean().nota
medias_por_filmes.head()

In [ ]:
medias_por_filmes.plot(kind='hist')

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(5,8))
sns.boxplot(y=medias_por_filmes)

In [ ]:
medias_por_filmes.describe()

In [ ]:
sns.distplot(medias_por_filmes)

In [ ]:
plt.hist(medias_por_filmes)
plt.title('Histograma das médias dos filmes')

## Tipos de variáveis

In [ ]:
tmdb = pd.read_csv("tmdb_5000_movies.csv")
tmdb.head()

In [ ]:
tmdb.original_language.unique()

In [ ]:
contagem_de_lingua = tmdb.original_language.value_counts().to_frame().reset_index()
contagem_de_lingua.columns= ['original_language', 'total']
contagem_de_lingua.head()

In [ ]:
sns.barplot(x='original_language', y='total', data=contagem_de_lingua)

In [ ]:
sns.catplot(x="original_language", kind='count', data=tmdb)

In [ ]:
plt.pie(contagem_de_lingua.total, labels=contagem_de_lingua.original_language)

In [ ]:
total_por_lingua = tmdb.original_language.value_counts()
total_geral = total_por_lingua.sum()
total_de_ingles = total_por_lingua.loc['en']
total_do_resto = total_geral - total_de_ingles
print(total_de_ingles, total_do_resto)

In [ ]:
dados = {
    'lingua': ['ingles', 'outros'],
    'total': [total_de_ingles, total_do_resto]
}
dados = pd.DataFrame(dados)
sns.barplot(data=dados, x='lingua',y='total')

In [ ]:
total_de_lingua_de_outros_filmes = tmdb.query('original_language != "en"').original_language.value_counts()
total_de_lingua_de_outros_filmes

In [ ]:
filmes_sem_lingua_original_em_ingles = tmdb.query('original_language != "en"')
sns.catplot(x="original_language",
            kind='count',
            data=filmes_sem_lingua_original_em_ingles,
            aspect=2,
            palette='GnBu_d',
            order=total_de_lingua_de_outros_filmes.index)

## Média, mediana, desvio padrão, boxplot, histograma, tendência central e dispersão, como tudo isso se encaixa

In [ ]:
filmes.head(2)

In [ ]:
notas_do_toy_story = notas.query('filmeID==1')
notas_do_jumanji = notas.query('filmeID==2')
print(len(notas_do_toy_story), len(notas_do_jumanji))

In [ ]:
print('Nota média do Toy Story %.2f' % notas_do_toy_story.nota.mean())
print('Nota média do Toy Story %.2f' % notas_do_jumanji.nota.mean())

In [ ]:
print('Nota mediana do Toy Story %.2f' % notas_do_toy_story.nota.median())
print('Nota mediana do Toy Story %.2f' % notas_do_jumanji.nota.median())

In [ ]:
import numpy as np

filme1 = np.append(np.array([2.5]*10),np.array([3.5]*10))
filme2 = np.append(np.array([5.0]*10),np.array([1.0]*10))
print(filme1.mean(), filme2.mean())
print(np.std(filme1),np.std(filme2))
print(np.median(filme1), np.median(filme2))

In [ ]:
plt.hist(filme1)
plt.hist(filme2)

In [ ]:
plt.boxplot([filme1, filme2])

In [ ]:
sns.boxplot(data=notas.query('filmeID in [1,2,3,4,5]'), x="filmeID", y="nota")

# Curso - Python Pandas: tratando e analisando dados

## Relatório de análise 1

### Importandando a base de dados

In [ ]:
# importando 
import pandas as pd

dados = pd.read_csv('aluguel.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

### informações gerais sobre a base de dados

In [ ]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [ ]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de dados'])

In [ ]:
tipos_de_dados.columns.name = 'Variaveis'
tipos_de_dados

Variaveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [ ]:
dados.shape

(32960, 9)

In [ ]:
dados.shape[0]

32960

In [ ]:
dados.shape[1]

9

In [ ]:
print(f'A base de dados apresenta {dados.shape[0]} registros (imóveis) e {dados.shape[1]} variáveis.')

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis.

## Relatório de análise 2

### Tipos de imóveis

In [ ]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
tipo_de_imovel = dados['Tipo']

In [ ]:
type(tipo_de_imovel)

pandas.core.series.Series

In [ ]:
tipo_de_imovel.drop_duplicates(inplace=True)
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

### Organizando a visualização

In [ ]:
df_tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [ ]:
df_tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [ ]:
df_tipo_de_imovel.shape[0]

22

In [ ]:
range(df_tipo_de_imovel.shape[0])

range(0, 22)

In [ ]:
for i in range(df_tipo_de_imovel.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
df_tipo_de_imovel.index = range(df_tipo_de_imovel.shape[0])

In [ ]:
df_tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [ ]:
df_tipo_de_imovel.columns.name = 'Id'
df_tipo_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

## Relatório de análise 3

### Imóveis residenciais

In [ ]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [ ]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [ ]:
residencial =['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

In [ ]:
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [ ]:
selecao_residencial = dados['Tipo'].isin(residencial)
selecao_residencial

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [ ]:
dados_residencial = dados[selecao_residencial]
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [ ]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [ ]:
dados_residencial.shape[0]

22580

In [ ]:
dados_residencial.index = range(dados_residencial.shape[0])

In [ ]:
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [ ]:
dados_residencial.to_csv('/content/aluguel_residencial.csv', sep=';', index=False)

In [ ]:
dados_residencial_2 = pd.read_csv('/content/aluguel_residencial.csv', sep=';')

In [ ]:
dados_residencial_2

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN